
header {
  background-color: #0070ba;
  color: #fff;
  padding: 1rem 0;
  padding-left:15px;
}

.features {
  padding: 1rem 0;
  padding-left:15px;
  padding-right:15px;
  background-color: #e6f2ff;
}

.features h2 {
  padding: 1rem 0;
  color: #00488a;
  padding-left:15px;
}

.feature {
  margin: 1rem 0;
  padding: 1rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #0070ba;
  color: white;
  padding: 10px 0;
  padding-left:15px;
  position: fixed;
  width: 100%;
  bottom: 0;
}